<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/layout/default">
<head>
    <link th:href="@{/resources/css/plugins/summernote/summernote.css}" rel="stylesheet">
    <link th:href="@{/resources/css/plugins/summernote/summernote-bs3.css}" rel="stylesheet">
    <link th:href="@{/resources/css/plugins/jasny/jasny-bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/resources/css/plugins/codemirror/codemirror.css}" rel="stylesheet">
    <link th:href="@{/resources/css/plugins/codemirror/ambiance.css}" rel="stylesheet">
    <title>异常处理</title>
</head>
<body>
<div class="col-lg-10" layout:fragment="pageheader">
    <h2>首页</h2>
    <ol class="breadcrumb">
        <li>
            <a href="/">首页</a>
        </li>
        <li class="active">
            <strong>异常详情</strong>
        </li>

    </ol>
</div>

<div class="gray-bg"  layout:fragment="content">
<div class="fh-breadcrumb">
    <div class="fh-column">
        <div class="full-height-scroll">
            <ul class="list-group elements-list">
                <li th:class="${currhandlingid}?'list-group-item':'list-group-item  active'">
                    <a th:href="'/exceptionHandle/exception/'+${detile.bid}">
                        <small th:text="${detile.creatdate}" class="pull-right text-muted"> 16.02.2015</small>
                        <strong th:text="${detile.creater}">Ann Smith</strong>
                        <div class="small m-t-xs">
                            <p th:text="${detile.theme}">
                                Survived not only five centuries, but also the leap scrambled it to make.
                            </p>
                            <p class="m-b-none">
                                <span th:if="${currstep eq 0}" class="label pull-right label-primary">当前步骤</span>
                                <i class="fa fa-map-marker"></i> <span th:text="${detile.handleteam}"></span>
                            </p>
                        </div>
                    </a>
                </li>
                <li th:each="handling:${handlingList}"
                    th:class="${currhandlingid==handling.id}?'list-group-item active':'list-group-item'">
                    <a th:href="'/exceptionHandle/exception/'+${handling.bid}+'?hid='+${handling.id}">
                        <small th:text="${handling.finishdate}" class="pull-right text-muted"> 16.02.2015</small>
                        <strong th:text="${handling.handler}">Ann Smith</strong>
                        <div class="small m-t-xs">
                            <p th:text="${handling.keyword}">
                                Survived not only five centuries, but also the leap scrambled it to make.
                            </p>
                            <p class="m-b-none">
                                <span th:if="${currstep eq handling.id}" class="label pull-right label-primary">
                                    <span th:if="${flow.getFlow().getState().toString() eq 'CLOSE'}">最终解决</span>
                                    <span th:unless="${flow.getFlow().getState().toString() eq 'CLOSE'}">当前步骤</span>
                                </span>

                                <i class="fa fa-map-marker"></i> <span th:text="${detile.handleteam}"></span>
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="full-height">
        <div class="full-height-scroll white-bg border-left">
            <div class="element-detail-box">
                <div class="tab-content">
                    <div th:unless="${currhandling}" class="tab-pane active">
                        <div th:if="${(flow.getFlow().getState().toString() eq 'PASS')}" class="pull-right">
                            <span class="label label-warning">已分配处理人</span>
                        </div>
                        <div th:if="${flow.getFlow().getState().toString() eq 'REPULED'}" class="pull-right">
                            <span class="label label-danger">被打回</span>
                        </div>
                        <div th:if="${flow.getFlow().getState().toString() eq 'CLOSE'}" class="pull-right">
                            <span class="label label-primary">已关闭</span>
                        </div>
                        <div th:if="${flow.getFlow().getState().toString() eq 'RETREATED'}" class="pull-right">
                            <span class="label label-info">待处理</span>
                        </div>
                        <div class="small text-muted">
                            <i class="fa fa-clock-o"></i> <span th:text="${detile.happendate}"></span>
                        </div>
                        <div>
                            <h1 th:text="'主题:'+' '+${detile.theme}"></h1>
                            <p th:text="'发生日期: '+${detile.happendate}"></p>
                            <p>填报人: <span style="color: lightseagreen;" th:text="${detile.creater}"></span></p>
                            <h4 th:text="'异常描述'"></h4>
                            <p th:utext="${detile.content}"></p>
                        </div>
                        <div class="m-t-lg" th:if="${detile.getUpdatefilename()}">
                            <p>
                                <span><i class="fa fa-paperclip"> 附件</i></span>
                            </p>
                            <div class="attachment">
                                <div class="file-box">
                                    <div class="file">
                                        <a href="#">
                                            <span class="corner"></span>

                                            <div class="icon">
                                                <i class="fa fa-file"></i>
                                            </div>
                                            <div class="file-name">
                                                <a th:href="'/exceptionHandle/downloadfile/'+${detile.bid}"
                                                    th:text="${detile.updatefilename}"></a>

                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>




                    </div>
                    <div  th:if="${currhandling}" class="tab-pane active">
                        <div th:if="${returnreson}" class="pull-right">
                            <span class="label label-danger">被打回</span>
                        </div>
                        <div class="small text-muted">
                            <i class="fa fa-clock-o"></i> <span th:text="${currhandling.finishdate}"></span>
                        </div>
                        <div>
                            <h1 th:text="'关键字:'+' '+${currhandling.keyword}"></h1>
                            <p>处理人: <span th:text="${currhandling.handler}" style="color: lightseagreen;"></span></p>
                            <h4 th:text="'原因分析:'"></h4>
                            <p th:utext="${currhandling.reason}"></p>
                            <h4 th:text="'整改结果'"></h4>
                            <p th:utext="${currhandling.result}"></p>
                        </div>
                        <div class="m-t-lg" th:if="${currhandling.getUpdatefilename()}">
                            <p>
                                <span><i class="fa fa-paperclip"> 附件</i></span>
                            </p>
                            <div class="attachment">
                                <div class="file-box">
                                    <div class="file">
                                        <a href="#">
                                            <span class="corner"></span>

                                            <div class="icon">
                                                <i class="fa fa-file"></i>
                                            </div>
                                            <div class="file-name">
                                                <a th:href="'/exceptionHandle/downloadfile/'+${detile.bid}"
                                                   th:text="${detile.updatefilename}"></a>

                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div th:if="${returnreson}" class="m-t-lg">
                            <div class="hr-line-dashed"></div>
                            <h3 style="color: orangered;">打回原因</h3>
                            <div style="color: orangered;" th:utext="${returnreson}"></div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div layout:fragment="addjs">
    <script th:src="@{/resources/js/plugins/datapicker/bootstrap-datepicker.js}"></script>
    <script th:src="@{/resources/js/plugins/summernote/summernote.min.js}"></script>
    <script th:src="@{/resources/js/plugins/summernote/summernote-zh-CN.js}"></script>
    <script th:src="@{/resources/js/plugins/datapicker/bootstrap-datepicker.zh-CN.js}"></script>
    <script th:src="@{/resources/js/plugins/jasny/jasny-bootstrap.min.js}"></script>
</div>

<script layout:fragment="script">


    $('.summernote').summernote({
        toolbar:[
            ['style', ['bold', 'italic', 'underline', 'clear']],
            ['fontsize', ['fontsize']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['height', ['height']]
        ],
        height:300,
        minHeight: null,
        maxHeight: null,
        lang: 'zh-CN'
    });
</script>


</body>
</html>