<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <meta charset="UTF-8"/>
    <title>home</title>
</head>
<body>
    <div class="col-lg-10" layout:fragment="pageheader">
        <h2>首页</h2>
        <ol class="breadcrumb">
            <li class="active">
                <a href="/">首页</a>
            </li>

        </ol>
    </div>

    <div class="wrapper wrapper-content" layout:fragment="content">
    <div class="row" >
        <h1>你好</h1>



        <a th:href="@{/exceptionHandle/downloadfile/20180119001}">test</a>
    </div>
    </div>


</body>
</html>