<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout/default">
<head>
    <title>查找人员</title>
</head>
<body>
<div class="col-lg-10" layout:fragment="pageheader">
    <h2>首页</h2>
    <ol class="breadcrumb">
        <li>
            <a href="/">首页</a>
        </li>
        <li class="active">
            <strong>查找人员</strong>
        </li>

    </ol>
</div>

<div class="wrapper wrapper-content" layout:fragment="content">
<div class="row animated fadeInRight">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>查找人员</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">


                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <form accept-charset="UTF-8" method="post" th:action="'/ycclgroup/selectMember/'+${groupid}+'/select'" role="form" class="form-inline">
                        <div class="form-group">
                            <label for="name" class="sr-only">姓名/工号</label>
                            <input type="text" placeholder="姓名/工号" id="name" class="form-control" name="name"/>
                        </div>
                        <div class="form-group">
                            <label for="department" class="sr-only">部门</label>
                            <input type="text" placeholder="部门" id="department" class="form-control" name="department"/>
                        </div>
                        <button class="btn btn-primary" type="submit">搜索</button>
                    </form>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>工号</th>
                            <th>姓名</th>
                            <th>电话</th>
                            <th>部门</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="member:${members}">
                            <td th:text="${member.getUserid()}">工号</td>
                            <td th:text="${member.getName()}">姓名</td>
                            <td th:text="${member.getTel()}">添加时间</td>
                            <td th:text="${member.getDepartment()}">状态</td>
                            <td><a th:href="'/ycclgroup/add/'+${groupid}+'/'+${member.getUserid()}"
                                   class="btn btn-primary btn-xs">添加</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</body>
</html>